.team-members {
  display: flex;
  justify-content: space-between;
}

.team-member {
  width: 100%; /* adjust this value as per your needs */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.title-head h1 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #474a5c;
position: relative;
}
.footer-out-container{
  
    padding: 20px; /* Adjust the padding value as needed */
}

.footer-container {
  display: grid;
  grid-template-columns: 6fr 6fr 6fr;; /* Adjust column sizes as needed */
  grid-gap: 10px; /* Adjust the gap between columns as needed */
}

.footer-item {
  background-color: #474a5c;
  padding: 10px;
}

.longest {
  grid-column: 2 / 3; /* Set the middle column to span from column 2 to column 3 */
}

.footer-text p {
margin-bottom: 14px;
font-size: 16px;
    color: #c1c1c1;
line-height: 28px;
}



.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}

.footer-social-icon a {

color: #fff;
font-size: 18px;
margin-right: 15px;
}
.footer-social-icon i {
height: 38px;
width: 38px;
text-align: center;
line-height: 38px;
border-radius: 50%;
display: inline-flex;
align-items: center;
justify-content: center;
}
.github-bg{
background: #5f1775;
}
.twitter-bg{
background: #55ACEE;
}
.linkedin-bg{
background: #0072b1;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #282A36;
}

.subscribe-form {
position: relative;
overflow: hidden;

}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #282A36;
border: 1px solid #282A36;
color: #fff;
outline: none;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #282A36;
  padding: 10px 20px;
  border: 1px solid #282A36;
  top: 5px;
  align-self: center;
  
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
