html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282A36; /* Dracula background color */
  color: #F8F8F2; /* Light grey text color */
  padding-top: 38px; /* Add this line */
}

h1 {
  margin: 10px 0;
  color: #F8F8F2; /* Dracula foreground color */
  font-weight: bold;
  font-size: 2.5rem;
}
h2 {
  margin: 10px 0;
  color: #F8F8F2; /* Dracula foreground color */
  font-weight: bold;
  font-size: 1.8rem;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  min-height: 1000px;
  padding: 20px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  max-width: 900px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #474a5c; /* Dracula selection color */
  padding: 12px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Dracula shadows are darker */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  color: #F8F8F2; /* Dracula foreground color */
}

.nav-link {
  margin: 0 40px;
  text-decoration: none;
  color: #F8F8F2; /* Dracula foreground color */
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0 5px;
  position: relative;
}

.nav-link:hover {
  color: #8BE9FD; /* Dracula functions/methods color for hover */
}

.spacer {
  flex-grow: 1;
}



.social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-link {
  margin-left: 10px;
}

.social-link img {
  width: 24px;
  height: 24px;
}



.privacy-policy {
  padding-top: 90px;
}
label {
  display: block;
  margin-top: 20px;
  color: #8BE9FD; /* Dracula functions/methods color for labels */
  font-size: 1.2rem;
}

input[type="text"], textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.0rem;
  color: #F8F8F2; /* Light grey text color */
  background-color: #44475a; /* Dracula comments color */
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

input[type="submit"] {
  display: block;
  color: #F8F8F2; /* Light grey text color */
  background-color: #34a250; /* Dracula green color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.0rem;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #2b7d40; /* Lighter green for hover */
}

.alert {
  padding: 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  opacity: 0;
  transition: opacity 0.6s; /* 600ms to fade out */
  margin-top: 15px; /* Adjust to provide desired spacing */
  display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    position: relative;
    background-color: #333;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content h2, .modal-content p {
    margin: 0;
    padding: 0;
}

.modal-content .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.modal-content button:hover {
    opacity:1;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* Footer css Start here */
/*footer*/
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #474a5c; /* Dracula selection color */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5); /* Dracula shadows are darker */
    width: 105%;
    margin: 0;
    z-index: 100;
    margin-left: -40px;
    bottom: 0;
    min-height: 40px; /* Add this line */
    max-width: 110%;
    position: fixed; /* Added this line */
  }